#tariffs .details{ margin: 0; padding: 10px 0; flex: 1 0 auto; }
#tariffs .speed{ width: 105px; line-height: 30px; margin-left: 0; padding-left: 20px; color: white; font-weight: 600; }
#tariffs .water .speed{ background: #1976d2; }
#tariffs .fire .speed{ background: #d84315; }
#tariffs .ground .speed{ background: #5d4037; }

#tariffs .footer{ padding: 5px 0; flex: 0 0 auto; }
#tariffs .footer > a{ font-size: 14px; text-decoration: none; }